#main {
    display: grid;
    grid-template-rows: auto 4fr 0.5fr;
    height: 2000px;
    margin: 120px 10px 10px 10px;
}

#header{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#header img{
    height: 100%;
    width: auto;
}

#logo{
    float: left;
    position: absolute;
    margin-left: 15%;
}
#logo img{
    width: 15vw;
    height: auto;
}

#name{
    float: left;
    position: absolute;
    margin-left: 17%;
    margin-top: 30%;
}
#name img{
    width: 30vw;
    height: auto;
}
#body{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}

.check input{
    border: none;
}

.check *{
    display: inline;
}

.list li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.list p{
    font-size: 10px;
}
#left{
    float:left;

}

#right{
    margin-right: 17vw;;
    float: right;
}

#line{
    float:left;
    margin-left: 20vw;
    z-index: 1;
    position: absolute;
    height: 400px;
}

a{
    font-weight: bold;
    color: #cbcb29;
}